extends layout

block content
  h1= title
  p Welcome to #[em SAC Registration System], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h2 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Registrants:] !{registrant_count}
    //- li #[strong Copies:] !{book_instance_count}
    //- li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Certificates:] !{certificate_count}
    li #[strong Universities:] !{university_count}
