extends layout

block content
  h1= title
  if registrant_list.length
    ul
      each registrant in registrant_list
        li
          - const fullName = registrant.first_name+" "+registrant.second_name+" "+registrant.third_name+" "+registrant.last_name
          //- a(href=registrant.url) !{registrant.full_name}
          a(href=registrant.url) #{fullName}
          //- !{registrant.first_name} !{registrant.second_name} !{registrant.last_name}
          //- |  (#{registrant.certificate.collage_name})

  else
    p There are no registrant.

